html, body {
  height: 100dvh;
  margin: 0;
}

img {
    max-width: 100%;
}

.inbox_msg {
    display: flex;
    clear: both;
    height: 100dvh;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  width: 32%;
  border-right: 1px solid #c4c4c4;
  height: 100%;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    flex-grow: 1;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    padding: 5px;
}

.headind_srch {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70px;
    gap: 10px;
    border-bottom: 1px solid #c4c4c4;
    align-items: center;
}

.profile_img {
  border-radius: 50%;
  overflow: hidden;
  float: left;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  max-height: 100%;
}

.recent_heading h4 {
    color: #7674FE;
    font-size: 18px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0;
}

.chat_ib span {
    font-size: 13px;
    /* float: right; */
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    aspect-ratio: 1/1;
    max-height: 38px;
    position: relative;
}

.chat_img img {
  border-radius: 50%;
}

.online-status {
  position: absolute;
  display: none;
  width: 11px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  filter: drop-shadow(1px 1px 1px #0001);
  right: 0;
  bottom: 0;
}

.online-status.online {
  background-color: #2dca1f;
}

.online-status.offline {
  background-color: #ff3b3b;
}

.chat_ib {
    float: left;
    flex-grow: 1;
    padding: 0 0 0 15px;
}

.chat_people {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_list {
    cursor: pointer;
    margin: 0;
    padding: 10px 16px 10px;
}

.inbox_chat {
    padding: 8px 0;
    overflow-y: auto;
    height: calc(100% - 70px);
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg, 
.outgoing_msg {
    height: fit-content;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.incoming_msg_img img {
  border-radius: 50%;
  max-height: 32px;
}


.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 11px;
    margin: 4px 0 0;
}

.outgoing_msg .time_date {
  text-align: end;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr auto;
}

.sent_msg p {
    background: #7674FE none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.sent_msg {
    float: right;
    width: 46%;
}

.write_msg {
    color: #4c4c4c;
    font-size: 15px;
    flex-grow: 1;
    height: 60px;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.msg_send_btn {
    background: #7674FE none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    width: 70px;
}

.msg_send_btn:disabled {
    background: #bebebe none repeat scroll 0 0;
}

.msg_header {
  padding: 0 25px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #585858;
  font-weight: 700;
  border-bottom: 1px solid #c4c4c4;
}

.msg_history {
    overflow-y: auto;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.extra_space {
    height: 150px;
}

.search-bar:focus, .write_msg:focus {
    outline: none;
}

textarea {
    border: 0px solid;
    margin-top: 5px;
    outline: none;
    resize: none;
    width: 100%;
}

.middle-screen {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.middle-screen div {
    padding: 10px 0;
}

@media (0px <= width <= 660px) {
  .online-status {
    display: block;
  }

  .headind_srch {
    padding: 12px;
  }

  .inbox_people {
    width: 70px;
  }

  .sent_msg {
    width: 70%;
  }

  .middle-screen, 
  .mesgs {
    width: calc(100% - 74px);
  }

  .chat_ib, 
  .recent_heading,
  .srch_bar {
    display: none;
  }
}